**Q-1: Take values of the length & breadth of a rectangle from user input and check if it is square or not.**

In [3]:
length = int(input())
breadth = int(input())

5
5

In [4]:
if (length == breadth):
  print("Square")
else:
  print("Not a Square")

Square

**Q-2: Take three integer values from the user and print the greatest among them.**

In [5]:
n1 = int(input())
n2 = int(input())
n3 = int(input())
if (n1 > n2 and n1 > n3):
  print(n1)
elif (n2 > n1 and n2 > n3):
  print(n2)
else:
  print(n3)

5
3
7
7

**Q-3: A student will not be allowed to sit in an exam if his/her attendance is less than 75%.**

In [9]:
total_class = int(input())
total_attendance = int(input())
percentage = (100 * total_attendance) / total_class;
if (percentage / 100 < .75):
  print("Not allowed")
else:
  print("Allowed")

32
20
Not allowed


**Q-4: A school has the following rules for the grading system:** 
* Below 25 – F, 
* 25 to 44 – E, 
* 45 to 49 – D, 
* 50 to 59 – C, 
* 60 to 79 – B, 
* 80 to 89 - A, 
* Above 90 - A+

**Now, Ask the user to enter marks and print the corresponding grade.**

In [11]:
number = int(input())
if (number < 25):
  print('F')
elif (number >= 25 and number <= 44):
  print('E')
elif (number >= 45 and number <= 49):
  print('D')
elif (number >= 50 and number <= 59):
  print('C')
elif (number >= 60 and number <= 79):
  print('B')
elif (number >= 80 and number <= 89):
  print('A')
elif (number >= 90 and number <= 100):
  print('A++');
else:
  print('Invalid Input')

78
B

**Q-5: Print the following pattern using for and while loop.**

```
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
```

In [21]:
for i in range(7, 3, -1):
  for j in range(1, i + 1):
    print(j, sep = '', end = '')
  print('', end = '\n');

1234567
123456
12345
1234

In [22]:
i = 7;
while (i >= 4):
  j = 1
  while (j <= i):
    print(j, sep = '', end = '')
    j += 1
  print('', end = '\n');
  i -= 1;

1234567
123456
12345
1234

**Q-6: Display numbers from -100 to -10 using for loop.**

In [25]:
for i in range(-100, -9):
  print(i, end = ' ')

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

**Q-7: Write a program to sum all prime numbers within a range of 10 to 1000.**

In [27]:
def is_prime(num):
  for i in range(2, num): # we can check by deviding upto half of num
    if (num % i == 0):
      return False;
  return True;

sum = 0;
for num in range(10, 1001):
  if (is_prime(num)):
    sum += num;
print(sum)

76110

Q-8: Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [32]:
n = int(input())
factorial = 1
for i in range(1, n + 1):
  factorial *= i;
print(factorial)

def factorial(n):
  if (n == 1): return 1;
  return n * factorial(n - 1);
factorial(n)

8
40320

40320

Q-9: Reverse a given integer number 27956240710.

In [34]:
number = int(input())
reverse = 0
while (number != 0):
  last_digit = number % 10
  reverse = reverse * 10 + last_digit
  number = number // 10
print(reverse)

27956240710
1704265972

Q-10: Print the following pattern using for and while loop.
> ###
> ####
> ###
> ##

In [37]:
print('###')
for i in range(4, 1, -1):
  for j in range(1, i+1):
    print('#', end = '')
  print('');

###
####
###
##

In [41]:
print('###')
i = 4
while (i >= 2):
  j = 1
  while (j < i):
    print('#', end='')
    j += 1
  print('#')
  i -= 1

###
####
###
##

Q-11: Display the Fibonacci series of 15 elements using the for and while loop.

In [42]:
n = 15
list = [0] * n
list[0] = 1
list[1] = 1
for i in range(2, n):
  list[i] = list[i-1] + list[i-2]
print(list)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [45]:
n = 15
list = [0] * n
list[0] = 1
list[1] = 1
index = 2
while (index < n):
  list[index] = list[index-1] + list[index-2]
  index += 1
print(list)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

Q-12: Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]

In [48]:
Li = [1,3,5,[2,3],True]
Li[3].remove(2)
Li.append(2)
Li[4] = False
Li

[1, 3, 5, [3], False, 2]

Q-13: Find the intersection (common) of two sets.
> S1 = {1,4,6,8}

> S2 = {True, 1,2,10}

In [55]:
s1 = {1,4,6,8}
s2 = {True, 1,2,10}
print(s1.intersection(s2))

{True}

In [59]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

intersection = S1.intersection(S2)

print(intersection) # True is considered as 1

{True}

Q-14: Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [64]:
n = int(input())
user_input = [0] * n
for i in range(n):
  user_input[i] = int(input())

new_user_input = list(set(user_input)) # if list is not callable, run >> del list
print(new_user_input)

max(new_user_input)

7
1
9
3
4
5
200
54
[1, 3, 4, 5, 200, 9, 54]

200

Q-15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [65]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
Dict['region'] = Dict.pop('country')
print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

Q-16: Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [70]:
import pandas as pd

num = [10,100,300]
df = pd.DataFrame(num, columns=['number'])

print(df)

   number
0      10
1     100
2     300

Q-17: Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [72]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
print(Dict)
Dict['age'] = 28
print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}
{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}